* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 650px;
  width: 500px;
  background-color: dimgray;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.calculator-button,
.operator-button {
  height: 95%;
  width: 90%;
  font-size: 35px;
  border-radius: 10px;
}

.clear-button {
  height: 95%;
  width: 90%;
  font-size: 35px;
  border-radius: 10px;
}

.operator-button {
  background-color: coral;
}

.calculator-button {
  background-color: aqua;
}

.equals-button {
  height: 95%;
  width: 90%;
  font-size: 35px;
  border-radius: 10px;
  background-color: coral;
}

.display {
  height: 420px;
  width: 480px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
  background-color: lightsteelblue;
  border: 3px solid black;
}

.display-text {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  width: 480px;
  height: 440px;
  display: flex;
}
